body.dark-mode {
  background-color: rgb(53, 54, 58);
  color: white;
  
  button, body.dark-mode input, body.dark-mode td {
    background-color: rgba(27, 27, 27, 1);
    color: white;
  }

  span {
    color: white;
  }
}
