#task-list-today tr {
border-radius: 10px;

}
#task-list-today td {
    background-color:transparent !important;
}
#task-list-today, #task-list-tomorrow {
border-radius: 10px;
overflow: hidden;
background-color: rgb(27,27,27);
}
#task-list-tomorrow tr {
    border-radius: 10px;
}
#task-list-tomorrow td {
        background-color:transparent !important;
}
.black_text {
    color: white !important;
}

.dark_mode_switch {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    transition: transform 0.15s;
    transform: scale(0.85);
}

 .dark_mode_switch:hover {
	 transform: scale(1);
	 cursor: pointer;
}