#task-list-today tr {
border-radius: 10px;

}
#task-list-today td {
    background-color:transparent !important;
}
#task-list-today, #task-list-tomorrow {
border-radius: 10px;
overflow: hidden;
background-color: rgb(27,27,27);
}
#task-list-tomorrow tr {
    border-radius: 10px;
}
#task-list-tomorrow td {
        background-color:transparent !important;
}

.banner {
    position: relative;
}

.black_text {
    color: white !important;
}

.dark_mode_switch {
    margin: 0;
    right: 0;
    position: absolute;
    top: 50%;
    padding: 10px;
    transition: transform 0.15s;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

 .dark_mode_switch:hover {
	 cursor: pointer;
}