.weather-container{
    background-color: none;
    margin: 0;
    right: 200px;
    text-align: center;
    position: absolute;
    font: inherit;
    line-height: 65px;
    word-spacing: -10px;
}
.weather {
    font-size: 30px;
}
.temp {
    font-size: 30px;
}
.city{
    font-size: 20px;
}
.state{
    font-size: 15px;
}
.country{
    font-size: 15px;
}