<div id="task-template">
  <div>{{ name }}</div>
  <div>{{{ html_description }}}</div>
</div>

<script>
class Task {
  constructor(cfg={}) {
    this.data = Object.assign({
      day: 'today',
      name: 'default name',
      description: '[bruh](https://example.com)',
      subtasks: [],
      color: false,
    }, cfg);
    for (let key of Object.keys(this.data)) {
      Object.defineProperty(this, key, {
        get() {
          return this.data[key];
        },
        set(value) {
          this.data[key] = value;
          TaskList.update(this);
        }
      })
    }
  }
  render() {
    return Mustache.render(document.querySelector('#task-template').innerHTML, {
      ...this.data,
      html_description: marked(this.data.description),
    });
  }

}
</script>
