<div id="task-template">
  <div class="task-item {{classes}}" id="task-{{id}}">
    <div>
      <div style="display: inline-flex">
        <i class="material-icons task-btn-swap">{{ icon.arrow }}</i>
        <span class="task-content" style="cursor: pointer">{{ name }}</span>
      </div>
      <span style="float: right">
        <input class="task-btn-color" type="color" value="{{color}}">
        <i class="material-icons task-btn-edit">{{ icon.edit }}</i>
        <i class="material-icons task-btn-delete">{{ icon.delete }}</i>
      </span>
    </div>
    <div>{{{ html_description }}}</div>
  </div>
</div>

<script>
let indexes = 0;
var Tasks = {};
class Task {
  constructor(cfg={}) {
    this.data = Object.assign({
      id: false,
      day: 'today',
      name: 'default name',
      description: '',
      //subtasks: [],
      color: false,
      completed: false,
      color: '#ffffff',
    }, cfg);
    if (this.data.id == false) {
      this.data.id = ++indexes;
    }
    for (let key of Object.keys(this.data)) {
      Object.defineProperty(this, key, {
        get() {
          return this.data[key];
        },
        set(value) {
          this.data[key] = value;
          TaskList.update(this);
        }
      })
    }
    Tasks[this.data.id] = this;
  }
  render() {
    return Mustache.render(document.querySelector('#task-template').innerHTML, {
      ...this.data,
      classes: this.classes,
      icon: this.icons,
      html_description: marked(this.data.description || ''),
    });
  }
  hook($el) {
    let task = this;
    $el.on('click', function({ target }) {
      if (target.classList.contains('task-btn-swap')) {
        task.swap()
      } else if (target.tagName != 'A' && target.tagName != 'INPUT') {
        console.log(target)
        task.completed = !task.completed;
      }
    })
    $el.find('input[type="color"]').on('change', function({ target }) {
      task.color = target.value;
    })
  }
  get classes() {
    let classes = {
      'task-completed': this.completed,
    };
    return Object.entries(classes).filter(o => o[1]).map(o => o[0]).join(' ');
  }
  get icons() {
    return {
      arrow: 'arrow_' + (this.day == 'today' ? 'forward' : 'back'),
      edit: 'edit',
      delete: 'delete',
    }
  }
  swap() {
    if (this.day == 'today') {
      this.day = 'tomorrow';
    } else {
      this.day = 'today';
    }
  }

}
</script>

<style lang="scss">
  .task-item {
    &.task-completed .task-content {
      text-decoration: line-through;
    }
    .material-icons {
      cursor: pointer;
      display: inline-block;
    }
    input[type="color"] {
      border: none;
      background: none;
    }
    .task-btn-swap {
      padding-right: 20px;
    }
    //background-color: red;
    &:hover {
      //background-color: blue;
    }
  }
</style>
