<div id="tasklist" hidden>
    {{#days}}
      <div class="day-list">
        <h2 class="day-header">{{name}}
          <button class="material-icons create-btn" data-day="{{name}}" placeholder="Create">add</button>
        </h2>
        <span class="tasks">
          {{#tasks}}
            <span>{{{ . }}}</span>
          {{/tasks}}
        </span>
      </div>
    {{/days}}
</div>

<script>
let days = ['Today', 'Tomorrow'];
let element = document.querySelector('#tasklist');
let template = element.innerHTML + '';
let state = {
  tasks: [],
};
var TaskList = {
  state,
  render() {
    element = document.querySelector('#tasklist');
    let daysHTML = days.map(name => {
      return {
        name,
        tasks: [],
      }
    })
    state.tasks = state.tasks.filter(o => o.day);
    for (let x of state.tasks) {
      let holder = daysHTML.find(o => o.name.toLowerCase() == x.day.toLowerCase());
      if (holder) {
        holder.tasks.push(x);
      }
    }
    for (let x of daysHTML) {
      x.tasks.sort((a, b) => Number(b.id) - Number(a.id))
      x.tasks = x.tasks.map(o => o.render())
    }
    console.log(daysHTML)
    element.innerHTML = Mustache.render(template, {
      days: daysHTML,
    })
    for (let x of state.tasks) {
      x.hook($('#task-' + x.id))
    }
    document.querySelector('#tasklist').removeAttribute('hidden');
    $('.create-btn').on('click', function({ target }) {
      new Task({ day: target.dataset.day.toLowerCase() });
    }).hover(function() {
      this.innerHTML = "add_circle"
    }, function() {
      this.innerHTML = "add"
    })
  },
  update(task) {
    console.log('PUSHING CHANGE TO SERVER', task.data);
    fetch('/api/tasks', {
      method: 'PUT',
      headers: {
        'Content-Type': "application/json; charset=utf-8",
      },
      body: JSON.stringify(task.data),
    })
    this.render();
  },
  create(task) {
    let data = {
      ...task.data,
    };
    delete data.id;
    fetch('/api/tasks', {
      method: 'POST',
      headers: {
        'Content-Type': "application/json; charset=utf-8",
      },
      body: JSON.stringify(data),
    })
    let max_id = Math.max(0, ...this.state.tasks.map(o => Number(o.data.id)));
    task.data.id = max_id + 1;
    this.state.tasks.push(task);
    this.render();
  },
  delete(task) {
    delete this.state.tasks[this.state.tasks.indexOf(task)];
    fetch('/api/tasks', {
      method: 'DELETE',
      headers: {
        'Content-Type': "application/json; charset=utf-8",
      },
      body: JSON.stringify({ id: task.data.id, }),
    })
    this.render();
  },
  load() {
    let { render } = this;
    fetch('/api/tasks').then(res => res.json()).then(({ tasks }) => {
      state.tasks = tasks.map(o => {
        return new Task(o);
      })
      render();
    })
  }
}

TaskList.load();
</script>

<style lang="scss">
.day-header {
  display: inline-flex;
  .create-btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
#tasklist {
  .day-list {
    display: inline-block;
    width: calc(50vw - 20px);
    float: left;
    padding: 10px;
    @media only screen and (max-width: 600px) {
      width: calc(100vw - 20px);
    }
  }
}
</style>
